body {
    background: #BDB9F9;
}

h1{
    font-family: 'Indie Flower', cursive;
}

header {
    background: #EEEEF7;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    font-family: 'Niconne', cursive;
}

.site-footer {
    background-color: #EEEEF7;
    padding: 20px 0px;
}

.row-content {
    padding: 50px 0px;
    border-bottom: 1px ridge;
    min-height: 200px;
}
/* li {
    padding: 10px;
} */